<style>
header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px; 
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
section {
    width:350px;
    float:left;
    padding:10px; 
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
h1 {
	font-size:24px;
	font-family: Verdana;
	color:#e67e06;
	text-align:center;
	padding-top:30px;
}
#center {
   width: 1000px;
   height:450px;
   border: 2px solid #8AC007;
   margin-left: -500px; /* połowa szerokości */
   margin-top: 10px;
   position: relative;
   left: 50%;
   text-align: center;
   	font-family: "Verdana CE", Verdana, "Arial CE", Arial, Helvetica, sans-serif; 
	font-size: 16px;
	font-weight: normal;	
	color:#000066;
}
#menu_place{
	background-color:#ffff66;
	position:absolute;
	top:0;
	left:0;
	width:300px;
	bottom:0;
	border: 2px solid #ee5f6e;
}
#robocza{
	background-color:#ffff66;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	border: 2px solid #ff5f0e;
	left:303px;
}
#pole_batona{
	background-color:#ff9933;
	position:absolute;
	top:20px;
	height:50px;
	width:260px;
	right:20px;
	left:20px;
	border: 2px solid #ff6e0e;
	text-align:center;
	border-radius:6px;
}
input[type=submit] {
  background-color: #ffff00;
	margin:10px;
  font-size: 15pt;
  padding-left:20px;
  padding-right:20px;
  padding-top:6px;
  padding-bottom:6px;
  font-weight: bold;
  font-family: "Verdana CE", Verdana, "Arial CE", Arial, Helvetica, sans-serif;
  border-radius:3px;
}
input[type=submit]:hover {
	background-color: #ffff66;
}
input[type=text] {
	background-color: #ffffcc;
	width: 200px;
	height: 30px;
	font-size: 10pt;
	margin:10px;
	font-weight: normal;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	border-radius:3px;
 }
 #odsylacz{
	color:#cc0000;
	font-weight: bold;
	font-family: "Verdana CE", Verdana, "Arial CE", Arial, Helvetica, sans-serif;
 }
table {
	background-color:#ffffcc;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:13px;
	color:#333236;
	border-width: 5px;
	border-color: #333236;
	margin:5px;
	padding:5px;
	border:1px solid #333236;
	float: inherit;
	margin-left: auto;
	margin-right: auto;
}

table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #6666cc;
	background-color: #ff9966;
	vertical-align:middle;
	text-align:center;
	padding:7px;
	font-size: 17px;
	font-family: "Cambria", "Georgia", serif;
	font-weight: bold;
	color: #330033;
	width: 150px;
}
table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #6666cc;
	background-color: #ffcc80;
	vertical-align: middle;
	text-align: center;
	padding: 7px;
	font-size: 15px;
	font-family: "Cambria", "Georgia", serif;
	font-weight: normal;
	color: #333236;
	width: 150px;
	text-align:center;
}
</style>